<!-- Modal -->
<div class="modal fade" id="forgot_password_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Forgot password</h4>
      </div>
      <div class="modal-body">
        <div class="information-section clearfix">
          <div class='info-heading'>
            <h5><strong>Email address</strong></h5>
          </div>
          <div class='info-content'>
            <div class='form-group'>
              <input type='text' class='form-control' id='reset_email' placeholder='Email address' ng-model='resetEmail'>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='forgot_pw()'>Reset</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->