<!-- Modal -->
<div class="modal fade" id="forgot_password_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Forgot password</h4>
      </div>
      <div class="modal-body clearfix">
        <div class="form-group">
          <%= label_tag 'email', 'Email Address', class: 'control-label sr-only' %>
          <div class="col-sm-10 col-sm-offset-1">
            <%= text_field_tag 'email', nil, class: 'form-control', placeholder: 'Email address', 'ng-model' => 'resetPasswordEmail' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="forgotPassword(resetPasswordEmail)">Reset</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->