
  <div class="col-sm-offset-1 col-sm-4">
    <div class="checkbox">
      <label>
        <input type="checkbox" name='remember_me' checked='true'> <small>Remember me</small>
      </label>
    </div>
  </div>
