@import 'globals';


/* Header Nav */
nav.navbar{
	.navbar-right {
		li a .glyphicon {
			margin-right: 4px;
			font-size: 12px;
		}
	}
}

/* End Header Nav */

/* Main */
body {
	.btn, input, .panel {
		border-radius: 3px;
	}

	.page-header {
		margin-top: 20px;
	}

	.panel {
		background-color: $gray_lighter;
		border: 1px solid $gray_light;
		box-shadow: 0 4px 7px -3px $gray_light;

		.panel-body {
			padding-top: 45px;
		}

		.btn {
			width: 100%;
		}
	}

	.btn-link, a, button, .btn, .alert {
		outline: 0;
		&:hover, &:active, &:focus { outline: 0; }
	}

	.modal {
		.modal-header {
			margin-bottom: 15px;
		}
	}

	#main {
		margin-top: 51px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	input, textarea, select {
		&.has-error {
			border-color: #c9302c;
			&:focus, &:active {
				border-color: #c9302c;
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #eba5a3;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #eba5a3;
			}
		}
	}

}
/* End Main */