@import 'globals';

.panel {
	background-color: $gray_lighter;
	border: 1px solid #dce4ec;
	box-shadow: 0 4px 7px -3px $gray_light;	

	.panel-body {
		padding-top: 45px;
	}

	.btn {
		width: 100%;
	}
}